// 主框架padding
.main-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 8px 0 8px 8px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-x-center {
    display: flex;
    justify-content: center;
    flex-direction: column;

    > div,
    span {
        display: inline-flex;
    }
}

.flex-y-center {
    display: flex;
    align-items: center;
    flex-direction: row;

    > div,
    span {
        display: inline-flex;
    }
}
