:root {
    font-family:
        'Helvetica Neue', helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', arial, sans-serif;
    font-size: 14px;
    color: var(--color-text-primary);
    background-color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

// 美化webkit内核滚动条
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-text-secondary);
}
