@use 'element-plus/theme-chalk/src/index.scss' as *;

.vp-doc h2 {
    &:first-child {
        margin-top: 0;
        border-top: none;
    }
}

.example {
    .el-descriptions__table {
        display: table;
    }

    tbody tr {
        background-color: initial;
    }

    .el-descriptions__label {
        width: 150px;
    }

    .el-descriptions__cell {
        min-height: 50px;
    }
}

.el-date-table {
    th, td {
        border: initial;
    }

    th {
        border-bottom: solid 1px var(--el-border-color-lighter);
    }

    tbody tr {
        background-color: initial;
        border-top: initial;
    }
}

.usage {
    th, td {
        border: 0;
    }

    .el-table__header {
        margin: 0;
    }

    .el-table__body-wrapper .el-scrollbar__view {
        .el-table__body {
            margin: 0;
        }
    }

    .el-table .cell {
        text-overflow: initial;
        word-break: normal;
    }

    .el-table__body a:hover {
        text-decoration: none;
    }
}

table {
    display: table;
    width: 100%;
}

// tinymce 编辑器
.tox-tinymce-aux {
    z-index: 2300 !important;
}

html.dark {
    --el-fill-color-light: var(--code-hl-bg-color);
    --el-text-color-regular: var(--c-text);
    --el-border-color-lighter: var(--c-border);
    --el-bg-color: var(--c-bg);
    --el-text-color-primary: var(--c-text);
    --el-fill-color-blank: var(--c-bg);
}
